.sign-up{
    display: flex;
    flex-direction: column;
    width: 380px;


    .title{
        margin: 10px 0;
    }
}

@media screen and (max-width: 800px){
    .sign-up{
       text-align: center;
       margin-bottom: 100px;
       width: 80%;

       button{
           margin: 0 auto;
       }

       input::placeholder{
           text-align: center;
       }
    }
  }