.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .title {
        margin:10px 0;
    }



    .buttons {
        display: flex;
        justify-content: space-between;
    }
}


@media screen and (max-width: 800px){
    .sign-in{
       text-align: center;
       margin-bottom: 100px;
       width: 80%;

       .buttons{
           justify-content: space-evenly;

        
       }
    }
  }


  @media screen and (max-width: 600px){
    .sign-in{
       .buttons{
           justify-content: unset;
           display: grid;
           grid-gap: 15px;
        
       }
    }
  }

